/* h1{
    background-color: beige;
    color: black;
} */
body {
    background-color: beige;
    height: 500vh;
    border: 10px solid black
 }
h1{
    display: flex;
    background-color: maroon;
    color: rgb(255, 255, 255);
    width: 25%;
    margin: 10px;
    margin-left: 35%;
    /* margin-right: 10px; */ 
    /* content:; */
    border: 10px solid black;
    padding: 10px 10px;
    /* border-width: 10px; */
    /* border-style:solid; */
    /* border-color: rgb(0, 0, 0); */
    border-radius:10px;
    box-shadow: 10px 10px 10px gray;    
    /* position: relative;
    top: 150px; */
    /* position: absolute;
    top: 0px; */
    /* position: fixed;
    top: 5px;
    left:500px;
    right:500px;*/
    text-align: center;
    position:sticky;
    top: 5px;
}

h2{
    background-color: maroon;
    color: rgb(255, 255, 255);
}