body{
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644');
    background-size: 1000px 1000px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 200px;   
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    fon
}